<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>회원가입</title>
		<link rel="stylesheet" href="./join.css">
		<link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
	</head>
	<body>
		<section class="join_box">
			<div class="logo">
				<a class="logo_title" href="main.html">Finding Group</a>
			</div>
			<form action="https://port-0-groupfinding-lhe2bli35a3qt.sel4.cloudtype.app/user/join" method="POST">
				<ul>
					<li>
						<div class="left_side">
							<label>배틀태그</label>
						</div>
						<div class="right_side">
							<div class="input_div">
								<input class="input tag_input" type="text" name="tag" readonly>
								<label class="description tag_description"></label>
							</div>
							<div class="check_div">
								<button class="check_button tag_button" type="button">인증</button>
							</div>
						</div>
					</li>
					<li>
						<div class="left_side">
							<label>이메일</label>
						</div>
						<div class="right_side">
							<div class="input_div">
								<input class="input email_input" type="text" name="email">
								<label class="description email_description"></label>
							</div>
							<div class="check_div">
								<button class="check_button email_check_button" type="button">중복확인</button> 
							</div>
						</div>
					</li>
					<li>
						<div class="left_side">
							<label>비밀번호</label>
						</div>
						<div class="right_side">
							<div class="input_div">
								<input class="input password_input" type="text" name="password">
								<label class="description password_description"></label>
							</div>
						</div>
					</li>
					<li>
						<div class="left_side">
							<label>비밀번호 확인</label>
						</div>
						<div class="right_side">
							<div class="input_div">
								<input class="input password_input" type="text" name="password_check">
								<label class="description password_check_description"></label>
							</div>
						</div>
					</li>
					<li>
						<div class="left_side">
							<label>닉네임</label>
						</div>
						<div class="right_side">
							<div class="input_div">
								<input class="input nick_input" type="text" name="nick">
								<label class="description nick_description"></label>
							</div>
							<div class="check_div">
								<button class="check_button nick_check_button" type="button">중복확인</button> 
							</div>
						</div>
					</li>
				</ul>
				<input class="check_button submit_button" type="submit" value="생성하기">
			</form>
		</section>
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<script>
		window.addEventListener('DOMContentLoaded', function() {
			const params = new URLSearchParams(location.search);
			const tag = params.get("tag");
			document.querySelector(".tag_input").value = tag;
		});
		
		document.querySelector(".tag_button").addEventListener("click", (e) => {
			location.href = "https://port-0-groupfinding-lhe2bli35a3qt.sel4.cloudtype.app/user/verifyBNET";
		});
		
		document.querySelectorAll(".check_button").forEach((button) => {
			button.addEventListener("mouseover", (e) => {
				button.style.backgroundColor = "rgba(136, 235, 247, 0.7)"
				button.style.boxShadow = "none";
			});
			button.addEventListener("mouseout", (e) => {
				button.style.backgroundColor = "rgba(136, 235, 247, 0.4)"
				button.style.boxShadow = "1px 1px 1px 1px rgba(110, 110, 110, 0.8)";
			});
		});
		
		document.querySelector(".email_check_button").addEventListener("click", async (e) => {
			const email = document.querySelector(".email_input").value;
			const message = document.querySelector(".email_description");
			const res = await axios.post("https://port-0-groupfinding-lhe2bli35a3qt.sel4.cloudtype.app/user/isExistEmail", {
				email,
			});
			const isExist = res.data;
			if (isExist) {
				message.textContent = "이미 존재하는 이메일입니다.";
				message.style.color = "rgb(255, 98, 87)";
			} else {
				message.textContent = "가입 가능한 이메일입니다.";
				message.style.color = "rgb(3, 158, 63)";
			}
		});
		
		document.querySelector(".nick_check_button").addEventListener("click", async (e) => {
			const nick = document.querySelector(".nick_input").value;
			const message = document.querySelector(".nick_description");
			const res = await axios.post("https://port-0-groupfinding-lhe2bli35a3qt.sel4.cloudtype.app/user/isExistNick", {
				nick,
			});
			const isExist = res.data;
			if (isExist) {
				message.textContent = "이미 존재하는 닉네임입니다.";
				message.style.color = "rgb(255, 98, 87)";
			} else {
				message.textContent = "사용 가능한 닉네임입니다.";
				message.style.color = "rgb(3, 158, 63)";
			}
		});
	</script>
</html>